<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Suivez nous sur:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Betaseries
          </h6>
          <p>
            La première plateforme pour retrouver toutes l'actu sur vos séries. En dix ans d’existence, BetaSeries est devenu le meilleur allié de vos séries : gérez votre planning, partagez vos derniers épisodes regardés, et découvrez des nouveautés… Le tout entouré de la plus grosse communauté francophone de films et séries.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Nos Services
          </h6>
          <p>
            <a href="#!" class="text-reset">Annuaire des séries</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Annuaire des films</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Les Actualités</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Liens Utiles
          </h6>
          <p>
            <a href="#!" class="text-reset">CDU</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Legal</a>
          </p>
          <p>
            <a href="#!" class="text-reset">FAQ</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Reims, Quartier Libre</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            contact@betaseries.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 33 6 10 30 67 88</p>
          <p><i class="fas fa-print me-3"></i> + 33 7 34 56 07 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">noelie.design</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->