<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand navbar-dark-color" href="/">Betaseries</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('category_index') }}">Catégories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('program_index') }}">Séries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Films</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Communauté</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">à ne pas rater ce mois-ci</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Recommandations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Critiques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Netflix</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disney</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Canal+</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Arte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Starplay</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Appletv+</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">La radio</a>
        </li>
      </ul>
    </div>
  </div>
</nav>