{%extends 'base.html.twig' %}

{% block body %}

   <h1>Toutes les series pour vous et par vous</h1>
   <img class="banner" src="{{ asset('build/images/image-baniere.jpeg') }}" alt=""/>

{% endblock %}

